In [1]:
# Load libraries 
import pandas as pd
import numpy as np
import xgboost as xgb
import pickle
import time

In [2]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.metrics import make_scorer, accuracy_score, classification_report, confusion_matrix
from sklearn.model_selection import train_test_split, StratifiedKFold, cross_val_score, GridSearchCV
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from xgboost import XGBClassifier

In [3]:
# Load US income_data data 
income_data = pd.read_csv("https://github.com/breno-madruga/machine_learning_exercises/raw/master/XGBoost%20with%20GPU%20support/income_data.csv")
income_data.head()

   age          workclass  fnlwgt  ... hours_per_week  native_country high_income
0   39          State-gov   77516  ...             40   United-States       <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States       <=50K
2   38            Private  215646  ...             40   United-States       <=50K
3   53            Private  234721  ...             40   United-States       <=50K
4   28            Private  338409  ...             40            Cuba       <=50K

[5 rows x 15 columns]

In [4]:
income_data.head()

   age          workclass  fnlwgt  ... hours_per_week  native_country high_income
0   39          State-gov   77516  ...             40   United-States       <=50K
1   50   Self-emp-not-inc   83311  ...             13   United-States       <=50K
2   38            Private  215646  ...             40   United-States       <=50K
3   53            Private  234721  ...             40   United-States       <=50K
4   28            Private  338409  ...             40            Cuba       <=50K

[5 rows x 15 columns]

In [5]:

# convert the numerical income data to categorical data so that it can be used in XGBoost 
temp_col = pd.Categorical(income_data.high_income)

# assign the category codes to income column 
income_data["high_income"] = temp_col.codes

In [6]:

# Transformer the columns provided as input 
class FeatureSelector(BaseEstimator, TransformerMixin):

    def __init__( self, features ):
        self.features = features

    # return the same value as it is 
    def fit( self, X, y = None):
        return self

    # return the feature names for the columns
    def transform( self, X, y = None):
        return X[self.features]

#### 1.3.1. Categorical Pipeline

In [7]:

# convert the features to categorical features 
class CategoricalTransformer(BaseEstimator, TransformerMixin):
    # Class constructor method that takes a boolean as its argument.
    def __init__(self, features_new=True):
        self.features_new = features_new

    # return the same object 
    def fit( self, X, y = None):
        return self

    # transformer method 
    def transform(self, X , y = None):
        df = X.copy()
        if self.features_new:
            # if work class is missing, replace unknown 
            df['workclass']= df['workclass'].replace('?','Unknown')
            # determine the native country as US and non US 
            df.loc[df['native_country'] != ' United-States', 'native_country'] = 'non_usa'

        # create categorical features 
        for name in df.columns.to_list():
            temp_col = pd.Categorical(df[name])
            df[name] = temp_col.codes

        # return array 
        return df

In [8]:
# define the parameters 
seed = 42
folds = 10
scoring = {'AUC': 'roc_auc', 'Accuracy': make_scorer(accuracy_score)}

In [9]:
# create training and testing dataset 
X_train, X_test, y_train, y_test = train_test_split(income_data.drop(labels="high_income",axis=1),
                                                    income_data["high_income"],
                                                    test_size=0.20,
                                                    random_state=seed,
                                                    shuffle=True,
                                                    stratify=income_data["high_income"])

In [10]:
# extract the categorical features 
categoricalfeatures = income_data.select_dtypes("object").columns.to_list()

# extract the numerical features 
numericalfeatures = income_data.select_dtypes("int64").columns.to_list()

# setup the categorical pipeline 
categoricalpipeline = Pipeline(steps = [('cat_selector', FeatureSelector(categoricalfeatures)),
                                         ('cat_transformer', CategoricalTransformer())])

# setup the numerical pipeline
numericalpipeline = Pipeline(steps = [('num_selector', FeatureSelector(numericalfeatures)),
                                       ('std_scaler', MinMaxScaler())])

# combine the pipeline 
full_pipeline_preprocessing = FeatureUnion(transformer_list = [('categorical_pipeline', categoricalpipeline),
                                                               ('numerical_pipeline', numericalpipeline)])

In [11]:
# setup the full pipeline as an estimator 
pipe = Pipeline(steps = [("full_pipeline", full_pipeline_preprocessing),
                         ("fs", SelectKBest()),
                         ("clf", XGBClassifier())])

# define the hyperparameters 
searchspace = [
                {"clf": [RandomForestClassifier()],
                 "clf__n_estimators": [800],
                 "clf__criterion": ["gini", "entropy"],
                 "clf__max_leaf_nodes": [300],
                 "clf__random_state": [seed],
                 "clf__oob_score": [True],
                 "fs__score_func": [chi2],
                 "fs__k": [10]},
                {"clf": [XGBClassifier()],
                 "clf__n_estimators": [300],
                 "clf__max_depth": [4],
                 "clf__learning_rate": [0.1],
                 "clf__random_state": [seed],
                 "clf__subsample": [1],
                 "clf__colsample_bytree": [1],
                 "fs__score_func":[chi2],
                 "fs__k":[13]}
]

# define kfold 
kfold = StratifiedKFold(n_splits=folds, random_state=seed, shuffle=True)

# define the GridSearch object 
grid = GridSearchCV(estimator=pipe, 
                    param_grid=searchspace,
                    cv=kfold,
                    scoring=scoring,
                    return_train_score=True,
                    n_jobs=-1,
                    refit="AUC")

tmp = time.time()

# fit the model 
bestmodel = grid.fit(X_train, y_train)

# time elpased 
print("CPU Training Time: %s seconds" % (str(time.time() - tmp)))

CPU Training Time: 268.29627561569214 seconds

In [12]:
print("Best: %f using %s" % (bestmodel.best_score_,bestmodel.best_params_))

Best: 0.923599 using {'clf': XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=4,
              min_child_weight=1, missing=None, n_estimators=300, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=42,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1), 'clf__colsample_bytree': 1, 'clf__learning_rate': 0.1, 'clf__max_depth': 4, 'clf__n_estimators': 300, 'clf__random_state': 42, 'clf__subsample': 1, 'fs__k': 13, 'fs__score_func': <function chi2 at 0x7f7d69009ae8>}

In [13]:
# analyse the results 
result = pd.DataFrame(bestmodel.cv_results_)
result.head()

   mean_fit_time  std_fit_time  ...  mean_train_Accuracy  std_train_Accuracy
0      16.496329      0.164926  ...             0.885301            0.000671
1      18.480956      0.123196  ...             0.878732            0.000692
2       5.560473      0.198178  ...             0.884768            0.000933

[3 rows x 67 columns]

In [14]:
# ROC 
result[result.rank_test_AUC == 1][['mean_train_AUC', 'std_train_AUC','mean_test_AUC', 'std_test_AUC']]

   mean_train_AUC  std_train_AUC  mean_test_AUC  std_test_AUC
2        0.941896       0.000438       0.923599      0.005817

In [15]:
# AUC results 
result_auc = result[['mean_train_AUC', 'std_train_AUC','mean_test_AUC', 'std_test_AUC']]
result_auc

   mean_train_AUC  std_train_AUC  mean_test_AUC  std_test_AUC
0        0.939843       0.000343       0.914892      0.003443
1        0.940947       0.000237       0.915551      0.003887
2        0.941896       0.000438       0.923599      0.005817

In [16]:
# accuracy results 
result_acc = result[['mean_train_Accuracy', 'std_train_Accuracy','mean_test_Accuracy', 'std_test_Accuracy']]
result_acc

   mean_train_Accuracy  ...  std_test_Accuracy
0             0.885301  ...           0.005028
1             0.878732  ...           0.005221
2             0.884768  ...           0.008885

[3 rows x 4 columns]

In [17]:
# selecting the best model.
with open('pipe.pkl', 'wb') as file:
    pickle.dump(bestmodel, file)

In [18]:
# restore the best model.
with open("pipe.pkl", "rb") as file:
    bestmodel = pickle.load(file)

In [19]:
# test the model 
predict = bestmodel.predict(X_test)
print("Accuracy of testing: ", accuracy_score(y_test, predict), "\n")  # 0.8765545831414094 (GPU) | 0.8747121142330723 (CPU)
print("Confusion Matrix:\n", confusion_matrix(y_test,predict), "\n")
print("Classification report:\n", classification_report(y_test,predict))

Accuracy of testing:  0.8747121142330723

Confusion Matrix:
 [[4652  293]
 [ 523 1045]]

Classification report:
               precision    recall  f1-score   support

           0       0.90      0.94      0.92      4945
           1       0.78      0.67      0.72      1568

    accuracy                           0.87      6513
   macro avg       0.84      0.80      0.82      6513
weighted avg       0.87      0.87      0.87      6513